body {
  width: 50%;
  margin: auto;
}

.App {
  background-color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}
/* 
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

h1 {
  text-align: center;
}